rect:hover {
  fill: #ffffff;
}

.tooltip {
  position: absolute;
  top: 400px;
  background-color: rgb(43, 144, 226);
  padding: 5px 15px;
  border-radius: 5px;
}

.scatter-tooltip {
  position: absolute;
  background-color: rgb(149, 224, 178);
  padding: 5px 15px;
  border-radius: 5px;
}
